* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
}
.container {
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;
  /* border: 1px solid black; */
  /* overflow: hidden; */
}

.header {
  margin-bottom: 42px;
}

.header-wrap {
  display: flex;
  height: 102.23px;
  align-items: center;
}

.header__logo {
  width: 27.4px;
  height: 44.27px;
  margin-right: 123.13px;
}

.main-nav {
  max-width: 787px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-nav__item {
  display: block;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  /* margin-left: 64px; */
  transition: 0.3s;
}

.main-nav__item:hover {
  transform: scale(110%);
}

.burger-nav {
  background: transparent;
  border: none;
  display: none;
  margin-left: auto;
}

.burger-nav:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .container {
    padding: 30px 20px;
  }
  .header {
    margin-bottom: 48px;
  }
  .header-wrap {
    height: 32px;
  }
  .main-nav {
    display: none;
  }
  .burger-nav {
    display: block;
  }
}

.hero {
  height: 730px;
  background-image: url("./image/фон\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 28px;
}
.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo {
  width: 105.54px;
  height: 85.05px;
  margin-bottom: 40.5px;
}

.hero-title {
  color: rgb(0, 0, 0);
  font-family: Alumni Sans;
  font-size: 160px;
  font-weight: 600;
  line-height: 100px;
  text-transform: uppercase;
}

.hero__text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 57.28px;
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 130px;
  }
}

@media (max-width: 716px) {
  .hero-title {
    font-size: 100px;
  }
  .hero__text {
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .hero-title {
    font-size: 80px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 34px;
  }
  .hero__logo {
    margin-bottom: 59px;
  }
  .hero__text {
    font-size: 18px;
  }
}

@media (max-width: 455px) {
  .hero {
    margin-bottom: 18px;
    background-image: url("./image/Slice 1 (1).png");
  }

  .hero__text {
    width: 218px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
  }
}

.catalog-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 802.46px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 101px;
}

.list__btn {
  display: flex;
  justify-content: center;
  color: rgba(17, 14, 25, 0.7);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 45px;
  background: rgb(216, 228, 232);
  border: none;
  padding: 7.5px 22.5px;
  margin-bottom: 16px;
  margin-right: 14px;
}

.list__btn:hover {
  cursor: pointer;
  background-color: rgb(224, 225, 75);
}

.active {
  background-color: rgb(224, 225, 75);
}

.catalog-wrap-pr {
  display: flex;
  align-items: center;
}

.slayder-btn {
  background: transparent;
  border: none;
}

.slayder-btn:hover {
  cursor: pointer;
}

.catalog__product {
  display: flex;
  max-width: 900px;
  width: 100%;
  overflow: scroll;
  margin: 0 43.5px 75px;
}

.product__item {
  width: 223px;
  height: 275px;
}

@media (max-width: 455px) {
  .catalog__list {
    justify-content: start;
    margin-bottom: 77px;
  }

  .list__btn {
    font-size: 10px;
    line-height: 12.5px;
    border-radius: 28px;
    padding: 5px 14px;
  }

  .slayder-btn {
    display: none;
  }

  .product__item {
    width: 153px;
    height: 189px;
  }
}

.catalog__shop {
  display: flex;
  justify-content: space-between;
  max-width: 697.5px;
  width: 100%;
  margin-bottom: 68px;
}

.shop-btn {
  padding: 12.5px 37.5px;
  text-decoration: none;
  border-radius: 75px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
}

.shop-btn:hover {
  cursor: pointer;
  background-color: black;
}

.ozon {
  background-color: rgb(0, 91, 255);
}

.wb {
  background-color: rgb(188, 61, 150);
}

.rating__img {
  display: block;
  width: 491px;
  height: 284px;
}

@media (max-width: 455px) {
  .catalog__shop {
    flex-direction: column;
    align-items: center;
  }
  .shop-btn {
    line-height: 22px;
  }
  .ozon {
    margin-bottom: 29px;
  }
  .rating__img {
    width: 319px;
    height: 185px;
  }
}

.proof {
  margin-bottom: 70px;
}
.fon-proof {
  width: 100%;
  height: 860px;
  background-image: url("./image/fon-prooff.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.proof-wrap-content {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proof-title {
  display: block;
  color: rgb(0, 0, 0);
  font-family: Alumni Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 72px;
}

.proof__img-wrap {
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.proof__wrap-text {
  width: 229px;
}
.proof__vector {
  width: 43px;
  height: 132px;
  object-fit: cover;
  object-position: center;
}

.proof__img {
  width: 265px;
  height: 285.86px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 40px #feffff;
}

.proof__text {
  width: 100%;
}

.one-proof {
}

.two-proof {
  margin-top: 103px;
}

.four-proof {
  margin-top: 103px;
}

@media (max-width: 455px) {
  .proof-wrap-content {
    justify-content: space-around;
  }
  .proof-title {
    font-size: 44px;
    margin-bottom: 160px;
  }

  .proof__img-wrap {
    width: 149px;
  }
  .proof__img {
    width: 149px;
    height: 162px;
  }
  .proof__vector {
    width: 34px;
    height: 105px;
  }
  .proof__wrap-text {
    width: 149px;
  }
  .two-proof {
    margin-top: 88px;
  }

  .four-proof {
    margin-top: 60px;
  }
  .three-proof {
margin-top: -40px;
  }
  .fon-proof {
    height: 920px;
  }

  .proof-wrap {
    margin-top: -155px;
  }
}

.about__title {
  color: #000;
  font-family: "Alumni Sans";
  font-size: 48px;
  font-weight: 600;
  line-height: 94px;
  text-align: center;
  margin-bottom: 52px;
}

.about__title {
  margin-top: 60px;
  margin-bottom: 100px;
}
.about__wrap {
  display: flex;
  margin-bottom: 160px;
}

.img__wrap {
  position: relative;
  display: flex;
}

.img__fon {
  position: absolute;
  width: 277px;
  height: 345px;
  left: -160px;
  z-index: 1;
}

.img__lena {
  position: absolute;
  width: 216px;
  height: 376px;
  top: -73px;
  left: -10px;
  z-index: 2;
}

.img__tanya {
  position: absolute;
  width: 202px;
  height: 402px;
  top: -80px;
  left: 130px;
  z-index: 3;
}

.img__text-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img__text-wrap-main {
  position: relative;
}
.text-fon {
  position: absolute;
  width: 738px;
  height: 285px;
  top: -50px;
  right: 0px;
}

.text-fon2 {
  position: absolute;
  top: 145px;
  right: 73px;
}

.img__text-main {
  position: absolute;
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  width: 591px;
  right: 70px;
  top: 30px;
}

.img__text-wrap-other {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 280px;
  margin-right: 105px;
  width: 631px;
}

.img__text-other {
  width: 265px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

@media (max-width: 455px) {
  
}

.promo__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 104px;
}
.img-wrap {
  display: flex;
  flex-direction: column;
}

.promo__img {
  width: 255px;
  height: 275px;
  border-radius: 13px;
  margin: 10px;
  border: 1px solid #d9d9d9;
}

.img-sdvig {
  margin-top: 67px;
}

.footer {
  background-image: url(./image/fon-footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 106px;
  height: 85px;
  margin-top: 50px;
  margin-bottom: 72px;
}

.footer__title {
  width: 409px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 44px;
}

.social-item {
  width: 46px;
  height: 46px;
  transition: 0.3s;
}

.social-item:hover {
  transform: scale(110%);
}

.footer__social {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
}

.since {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 50px;
}